<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="ironyyy.css">
</head>
<body>
    <div class="main">
        <div class="card">
            <div class="rates">
                <h2>available</h2>
                <h3>$55/hr</h3>
            </div>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvakm_zio2J6a-PadL8SE6DjgZOB_5FlJz3w&s" alt="">
            <h1>Wade Wilson</h1>
            <h2 class="hi">UI/UX designer</h2>
            <h4 class="hel">Epic Coders</h4>
            <div class="skills">
                <h3>UI</h3>
                <h3>UX</h3>
                <h3>photoshop</h3>
                <h4>+4</h4>
                
            </div>
            <p class="heee">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores laboriosam commodi odit eveniet in quia! Molestiae, quidem architecto!
            </p>
            <div class="profile">
                <h3>Veiw Profile</h3>
            </div> 

            
        </div>
        <div class="card">
            <div class="rates">
                <h2>available</h2>
                <h3>$55/hr</h3>
            </div>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvakm_zio2J6a-PadL8SE6DjgZOB_5FlJz3w&s" alt="">
            <h1>Wade Wilson</h1>
            <h2 class="hi">UI/UX designer</h2>
            <h4 class="hel">Epic Coders</h4>
            <div class="skills">
                <h3>UI</h3>
                <h3>UX</h3>
                <h3>photoshop</h3>
                <h4>+4</h4>
                
            </div>
            <p class="heee">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores laboriosam commodi odit eveniet in quia! Molestiae, quidem architecto!
            </p>
            <div class="profile">
                <h3>Veiw Profile</h3>
            </div>
        </div>
        <div class="card">
            <div class="rates">
                <h2>available</h2>
                <h3>$55/hr</h3>
            </div>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvakm_zio2J6a-PadL8SE6DjgZOB_5FlJz3w&s" alt="">
            <h1>Wade Wilson</h1>
            <h2 class="hi">UI/UX designer</h2>
            <h4 class="hel">Epic Coders</h4>
            <div class="skills">
                <h3>UI</h3>
                <h3>UX</h3>
                <h3>photoshop</h3>
                <h4>+4</h4>
                
            </div>
            <p class="heee">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores laboriosam commodi odit eveniet in quia! Molestiae, quidem architecto!
            </p>
            <div class="profile">
                <h3>Veiw Profile</h3>
            </div>
        </div>
        <div class="card">
            <div class="rates">
                <h2>available</h2>
                <h3>$55/hr</h3>
            </div>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvakm_zio2J6a-PadL8SE6DjgZOB_5FlJz3w&s" alt="">
            <h1>Wade Wilson</h1>
            <h2 class="hi">UI/UX designer</h2>
            <h4 class="hel">Epic Coders</h4>
            <div class="skills">
                <h3>UI</h3>
                <h3>UX</h3>
                <h3>photoshop</h3>
                <h4>+4</h4>
                
            </div>
            <p class="heee">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores laboriosam commodi odit eveniet in quia! Molestiae, quidem architecto!
            </p>
            <div class="profile">
                <h3>Veiw Profile</h3>
            </div>
        </div>
        <div class="card">
            <div class="rates">
                <h2>available</h2>
                <h3>$55/hr</h3>
            </div>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvakm_zio2J6a-PadL8SE6DjgZOB_5FlJz3w&s" alt="">
            <h1>Wade Wilson</h1>
            <h2 class="hi">UI/UX designer</h2>
            <h4 class="hel">Epic Coders</h4>
            <div class="skills">
                <h3>UI</h3>
                <h3>UX</h3>
                <h3>photoshop</h3>
                <h4>+4</h4>
                
            </div>
            <p class="heee">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores laboriosam commodi odit eveniet in quia! Molestiae, quidem architecto!
            </p>
            <div class="profile">
                <h3>Veiw Profile</h3>
            </div>
        </div>
        <div class="card">
            <div class="rates">
                <h2>available</h2>
                <h3>$55/hr</h3>
            </div>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvakm_zio2J6a-PadL8SE6DjgZOB_5FlJz3w&s" alt="">
            <h1>Wade Wilson</h1>
            <h2 class="hi">UI/UX designer</h2>
            <h4 class="hel">Epic Coders</h4>
            <div class="skills">
                <h3>UI</h3>
                <h3>UX</h3>
                <h3>photoshop</h3>
                <h4>+4</h4>
                
            </div>
            <p class="heee">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores laboriosam commodi odit eveniet in quia! Molestiae, quidem architecto!
            </p>
            <div class="profile">
                <h3>Veiw Profile</h3>
            </div>
        </div>
        <div class="card">
            <div class="rates">
                <h2>available</h2>
                <h3>$55/hr</h3>
            </div>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvakm_zio2J6a-PadL8SE6DjgZOB_5FlJz3w&s" alt="">
            <h1>Wade Wilson</h1>
            <h2 class="hi">UI/UX designer</h2>
            <h4 class="hel">Epic Coders</h4>
            <div class="skills">
                <h3>UI</h3>
                <h3>UX</h3>
                <h3>photoshop</h3>
                <h4>+4</h4>
                
            </div>
            <p class="heee">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores laboriosam commodi odit eveniet in quia! Molestiae, quidem architecto!
            </p>
            <div class="profile">
                <h3>Veiw Profile</h3>
            </div>
        </div>
        <div class="card">
            <div class="rates">
                <h2>available</h2>
                <h3>$55/hr</h3>
            </div>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvakm_zio2J6a-PadL8SE6DjgZOB_5FlJz3w&s" alt="">
            <h1>Wade Wilson</h1>
            <h2 class="hi">UI/UX designer</h2>
            <h4 class="hel">Epic Coders</h4>
            <div class="skills">
                <h3>UI</h3>
                <h3>UX</h3>
                <h3>photoshop</h3>
                <h4>+4</h4>
                
            </div>
            <p class="heee">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores laboriosam commodi odit eveniet in quia! Molestiae, quidem architecto!
            </p>
            <div class="profile">
                <h3>Veiw Profile</h3>
            </div>
        </div> 
    </div>
    <script src="tans.js"></script>
</body>
</html>